<div class="container">
  <div id="hinh"><img src="../assets/netogram%201.png"></div>
  <div id="text">
    <h2>Personal Information</h2>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last name</mat-label>
    <input matInput color="primary">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email Address</mat-label>
    <input disabled value="tn212079@gmail.com" matInput color="primary">
  </mat-form-field>
  <div id="nextBox">
    <button style="width: 35%;height: 40px" mat-flat-button color="primary">Next</button>
  </div>
</div>
